<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @submission.title %>
</p>

<p>
  <strong>Lead:</strong>
  <%= @submission.lead %>
</p>

<p>
  <strong>Body:</strong>
  <%= @submission.body %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
